anaTupleDef: AnaProd/anaTupleDef.py
analysis_import: Analysis.hh_bbww
analysis_cache_import: Analysis.tasks:AnalysisCacheTask:AnalysisCacheMergeTask
signal_types:
  - GluGluToRadion
  - GluGlutoRadion
  - GluGluToBulkGraviton
corrections:
  - mu
  - trgSF
  - ele
  - eleES
  - pu
  - JEC
  - JER
  - btagShape
# Note for later, Muhammad's common nTuples have 50% more events than mine?
# But I found the answer, he did not require an HLT in the event while I do

tagger_name: "particleNet"

bjet_preselection_branch: "Jet_sel"

nPbPerFile: 5_000  # 5fb-1 per split data file
nEventsPerFile: 100_000  # 100k events per MC file

payload_producers:
  SingleLepHME:
    producers_module_name: Analysis.LegacyHMEProducer
    producer_name: HMEProducer
    channel: "SL"
    columns:
      - mass
      - valid
    dependencies:
    n_cpus: 4
    max_runtime: 30.0
    cmssw_env: True
  DoubleLepHME:
    producers_module_name: Analysis.LegacyHMEProducer
    producer_name: HMEProducer
    channel: "DL"
    columns:
      - mass
      - valid
    dependencies:
    n_cpus: 4
    max_runtime: 30.0
    cmssw_env: True
  DNN:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    channel: "DL"
    version: "v24"
    columns:
      - M0_Signal
    dependencies:
    # - DoubleLepHME
    n_cpus: 4
    max_runtime: 2.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
  DNNParametric:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    channel: "DL"
    version: "v35"
    columns:
      - M250_Signal
      - M260_Signal
      - M270_Signal
      - M280_Signal
      - M300_Signal
      - M350_Signal
      - M450_Signal
      - M550_Signal
      - M600_Signal
      - M650_Signal
      - M700_Signal
      - M800_Signal
      - M1000_Signal
      - M1200_Signal
      - M1400_Signal
      - M1600_Signal
      - M1800_Signal
      - M2000_Signal
      - M2500_Signal
      - M3000_Signal
      - M4000_Signal
      - M5000_Signal
    dependencies:
    # - DoubleLepHME # Currently DNN does not actually depend on HME yet
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
  LinHMEDNN:
    producers_module_name: Analysis.Linear_HME_DNN
    producer_name: LinHMEDNN
    channel: "DL"
    columns:
      - linear_hme_dnn_m250
      - linear_hme_dnn_m260
      - linear_hme_dnn_m270
      - linear_hme_dnn_m280
      - linear_hme_dnn_m300
      - linear_hme_dnn_m350
      - linear_hme_dnn_m450
      - linear_hme_dnn_m550
      - linear_hme_dnn_m600
      - linear_hme_dnn_m650
      - linear_hme_dnn_m700
      - linear_hme_dnn_m800
      - linear_hme_dnn_m1000
    dependencies:
      - DoubleLepHME
      - DNNParametric
    n_cpus: 4
    max_runtime: 2.0
    cmssw_env: False
    awkward_based: False

# This is for Analysis Selection
channelSelection:
  - e
  - mu
  - eE
  - eMu
  - muMu

# This is for Histogram Making
channels_to_consider:
  - e
  - mu
  - eE
  - eMu
  - muMu

channelDefinition:
  e: 1  # Second lepton doesn't exist
  mu: 2
  eE: 11
  eMu: 12
  muMu: 22

categories:
  # - inclusive
  # - boosted
  # - baseline
  # - res1b
  # - res2b
  - res1b_SR
  - res2b_SR
  - boosted_SR

region_default: SR

SignRegions:
  - OS_Iso
  - SS_Iso
  - OS_AntiIso
  - SS_AntiIso
  # - Zpeak_0b
  # - Zpeak_1b
  # - Zpeak_2b
  # - ZVeto_0b
  # - ZVeto_1b
  # - ZVeto_2b
  # - TTbar_CR


QCDRegions:
  - OS_Iso
  - SS_Iso
  - OS_AntiIso
  - SS_AntiIso
  # - Zpeak_0b
  # - Zpeak_1b
  # - Zpeak_2b
  # - ZVeto_0b
  # - ZVeto_1b
  # - ZVeto_2b
  # - TTbar_CR

boosted_categories: [ ]


triggers:
  e: [ singleEleWpTight ]
  mu: [ singleIsoMu ]
  eE: [ singleEleWpTight, diElec ]
  eMu: [ singleIsoMu ]
  muMu: [ singleIsoMu ]


application_regions:
  HLT_singleEleWpTight:
    region_name: SingleE_region
    region_cut: (true)
  HLT_singleIsoMu:
    region_name: SingleMu_region
    region_cut: (true)

sample_types_to_merge:  # Use this for what samples to run limits on
  - DY
  - TT
  - W
  - ST
  - TTX
  - VV
  - TTV
  - TTVV
  - QCDMu
  - QCDEM
  - QCD_PT
  - QCD_HT

samples_to_skip_hist:
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-1000
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-1200
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-1400
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-1600
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-1800
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-2000
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-2500
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-250
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-260
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-270
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-280
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-3000
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-300
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-350
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-4000
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-450
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-5000
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-550
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-600
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-650
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-700
  - GluGlutoRadiontoHHto2B2Vto2B2L2Nu_M-800

var_only_boosted: [ ]

unc_to_not_consider_boosted: [ ]

uncs_to_exclude:
  Run3_2022: [ ]
  Run3_2022EE: [ ]

storeExtraJets: False
scales:
  - Up
  - Down
deepTauVersion: 2p1
met_type: "PFMET"
vars_to_plot:
  - lep1_pt
  - lep2_pt
  - lep1_eta
  - lep2_eta
  - lep1_phi
  - lep2_phi
  - lep1_Muon_pfRelIso04_all
  - lep2_Muon_pfRelIso04_all
  - lep1_Electron_miniPFRelIso_all
  - lep2_Electron_miniPFRelIso_all
  - bjet1_btagPNetB
  - bjet2_btagPNetB
  - diLep_mass
  - Lep1Jet1Jet2_mass
  - Lep1Lep2Jet1Jet2_mass
  - Njets
  - bjet1_pt
  - bjet2_pt
  - HT
  - dR_dilep
  - dR_dibjet
  - dR_dilep_dibjet
  - dPhi_lep1_lep2
  - dPhi_jet1_jet2
  - dPhi_MET_dilep
  - dPhi_MET_dibjet
  - bb_mass
  - bb_mass_PNetRegPtRawCorr
  - bb_mass_PNetRegPtRawCorr_PNetRegPtRawCorrNeutrino
  - PuppiMET_pt
  - PuppiMET_phi
  - SingleLepHME_mass
  - DoubleLepHME_mass
  - DNN_M0_Signal
  - DNNParametric_M250_Signal
  - DNNParametric_M260_Signal
  - DNNParametric_M270_Signal
  - DNNParametric_M280_Signal
  - DNNParametric_M300_Signal
  - DNNParametric_M350_Signal
  - DNNParametric_M450_Signal
  - DNNParametric_M550_Signal
  - DNNParametric_M600_Signal
  - DNNParametric_M650_Signal
  - DNNParametric_M700_Signal
  - DNNParametric_M800_Signal
  - DNNParametric_M1000_Signal
  - LinHMEDNN_linear_hme_dnn_m250
  - LinHMEDNN_linear_hme_dnn_m260
  - LinHMEDNN_linear_hme_dnn_m270
  - LinHMEDNN_linear_hme_dnn_m280
  - LinHMEDNN_linear_hme_dnn_m300
  - LinHMEDNN_linear_hme_dnn_m350
  - LinHMEDNN_linear_hme_dnn_m450
  - LinHMEDNN_linear_hme_dnn_m550
  - LinHMEDNN_linear_hme_dnn_m600
  - LinHMEDNN_linear_hme_dnn_m650
  - LinHMEDNN_linear_hme_dnn_m700
  - LinHMEDNN_linear_hme_dnn_m800
  - LinHMEDNN_linear_hme_dnn_m1000
