anaTupleDef: AnaProd/anaTupleDef.py
histTupleDef: Analysis/histTupleDef.py
analysis_import: Analysis.hh_bbww
analysis_cache_import: Analysis.tasks:AnalysisCacheTask:AnalysisCacheMergeTask
phys_model: Run3_Model

WLCGFileSystem:
  remotePathCacheHost: cms-flaf.cern.ch
  remotePathCachePort: 5000
  localPathCacheValidity: 600
  verbose: 0

nEventsPerFile:
  data: 1000000
  signals: 100000
  backgrounds: 100000

corrections:
  mu:
    stages: [ HistTuple, AnalysisCache ]
    columns:
      pfRelIso04_all: Muon_pfRelIso04_all
      tightId: Muon_tightId
      tkRelIso: Muon_tkRelIso
      highPtId: Muon_highPtId
      mediumId: Muon_mediumId
      looseId: Muon_looseId
  trigger:
    stages: [ HistTuple, AnalysisCache ]
    mode: SF
  ele: { stages: [ HistTuple, AnalysisCache ] }
  fatjet:
    stages: [ HistTuple, AnalysisCache ] # AnaTuple
    ana: bbWW
    tagger: particleNetWithMass_HbbvsQCD
    fatJetName: fatbjet # SelectedFatJet
  muScaRe: { stage: AnaTuple, mu_pt_for_ScaReApplication: "nano" }
  eleES: { stages: [ AnaTuple, AnalysisCache ] }
  lumi: { stage: AnaTuple }
  xs: { stage: AnaTuple }
  gen: { stage: AnaTuple }
  pu:
    stages: [ AnaTuple, AnaTupleMerge ]
    enabled:
      AnaTuple: true
      AnaTupleMerge: false
  base: { stage: AnaTupleMerge }
  JEC: { stage: AnaTuple }
  JER:
    stage: AnaTuple
    apply_jet_horns_fix: true
  btag:
    normFilePattern: data/AnalysisCacheAggregationTask/{version}/{period}/{dataset_name}/BtagShape/aggregatedCache.json
    stages: [ AnaTuple, HistTuple, AnalysisCache ]
    modes:
      AnaTuple: none # just load to define WP ID branches
      AnalysisCache: shape
      HistTuple: shape
    tagger: particleNet
    jetCollection: centralJet
extraFormat_for_triggerMatchingAndSF:
  pt: "nano"
muon_pt_for_presel: "nano"
mu_pt_for_triggerMatchingAndSF: "nano"
mu_pt_for_selection: "pt"

mu_pt_for_definitions: "ScaRe" # here options are different: corr, nano, bsConstrainedPt, roccor
muonID_WP_for_triggerSF: "Tight" # only medium or tight for trigger SF, both iso and ID
muIDWP: "Tight"
muIsoWP: "Loose"

treeName: "Events"

nPbPerFile: 2_000  # 2fb-1 per split data file

payload_producers:
  SingleLepHME:
    producers_module_name: Analysis.LegacyHMEProducer
    producer_name: HMEProducer
    channel: "SL"
    columns:
      - mass
      - valid
    dependencies:
    n_cpus: 4
    max_runtime: 30.0
    cmssw_env: True
  DoubleLepHME:
    producers_module_name: Analysis.LegacyHMEProducer
    producer_name: HMEProducer
    channel: "DL"
    columns:
      - mass
      - valid
    dependencies:
    n_cpus: 4
    max_runtime: 30.0
    cmssw_env: True
  DNNParametric_DL_WithHME:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    channel: "DL"
    version: "DoubleLepton_WithDeepHME"
    columns:
      - M250_Signal
      - M260_Signal
      - M270_Signal
      - M280_Signal
      - M300_Signal
      - M350_Signal
      - M450_Signal
      - M550_Signal
      - M600_Signal
      - M650_Signal
      - M700_Signal
      - M800_Signal
      - M1000_Signal
      - M1200_Signal
      - M1400_Signal
      - M1600_Signal
      - M1800_Signal
      - M2000_Signal
      - M2500_Signal
      - M3000_Signal
      - M4000_Signal
      - M5000_Signal
    dependencies:
      - DoubleLep_DeepHME
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
  DNNParametric_DL_NoHME:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    channel: "DL"
    version: "DoubleLepton_WithoutDeepHME"
    columns:
      # - M250_Signal
      # - M260_Signal
      # - M270_Signal
      # - M280_Signal
      # - M300_Signal
      # - M350_Signal
      # - M450_Signal
      # - M550_Signal
      # - M600_Signal
      # - M650_Signal
      # - M700_Signal
      # - M800_Signal
      # - M1000_Signal
      # - M1200_Signal
      # - M1400_Signal
      # - M1600_Signal
      # - M1800_Signal
      # - M2000_Signal
      # - M2500_Signal
      # - M3000_Signal
      # - M4000_Signal
      # - M5000_Signal

      # XtoYH doesn't have the same mass points
      - M300_Signal
      - M400_Signal
      - M500_Signal
      - M550_Signal
      - M600_Signal
      - M650_Signal
      - M700_Signal
      - M800_Signal
      - M900_Signal
      - M1000_Signal
    dependencies:
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
  DNNParametric_SL_NoHME:
    producers_module_name: Analysis.DNN_Application
    producer_name: DNNProducer
    channel: "SL"
    version: "SingleLepton_WithoutDeepHME"
    columns:
      # - M250_Signal
      # - M260_Signal
      # - M270_Signal
      # - M280_Signal
      # - M300_Signal
      # - M350_Signal
      # - M450_Signal
      # - M550_Signal
      # - M600_Signal
      # - M650_Signal
      # - M700_Signal
      # - M800_Signal
      # - M1000_Signal
      # - M1200_Signal
      # - M1400_Signal
      # - M1600_Signal
      # - M1800_Signal
      # - M2000_Signal
      # - M2500_Signal
      # - M3000_Signal
      # - M4000_Signal
      # - M5000_Signal

      # XtoYH doesn't have the same mass points
      - M300_Signal
      - M400_Signal
      - M500_Signal
      - M550_Signal
      - M600_Signal
      - M650_Signal
      - M700_Signal
      - M800_Signal
      - M900_Signal
      - M1000_Signal
    dependencies:
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
  DoubleLep_DeepHME:
    producers_module_name: Analysis.DeepHMEProducer
    producer_name: DeepHMEProducer
    channel: "DL"
    model_name: predict_quantiles3D_DL_v9
    return_errors: True
    columns:
      - mass
      - mass_error
      - Hbb_px
      - Hbb_py
      - Hbb_pz
      - Hbb_E
      - HVV_px
      - HVV_py
      - HVV_pz
      - HVV_E
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
    dependencies:
  SingleLep_DeepHME:
    producers_module_name: Analysis.DeepHMEProducer
    producer_name: DeepHMEProducer
    channel: "SL"
    model_name: predict_quantiles3D_SL_v4
    return_errors: True
    columns:
      - mass
      - mass_error
      - Hbb_px
      - Hbb_py
      - Hbb_pz
      - Hbb_E
      - HVV_px
      - HVV_py
      - HVV_pz
      - HVV_E
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
    dependencies:
  BtagShape:
    producers_module_name: BtagShapeProducer
    producer_name: BtagShapeProducer
    weight_module: Analysis.hh_bbww
    save_as: json
    needs_aggregation: True
    target_groups: ["signals", "backgrounds"]
    is_global: True
    columns : []
    bins:
      e_2 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 2"
      e_3 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 3"
      e_4 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 4"
      e_5 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 5"
      e_6 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 6"
      e_7 : "channelId == static_cast<int>(Channel::e) && ncentralJet == 7"
      e_8 : "channelId == static_cast<int>(Channel::e) && ncentralJet >= 8"
      mu_2 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 2"
      mu_3 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 3"
      mu_4 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 4"
      mu_5 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 5"
      mu_6 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 6"
      mu_7 : "channelId == static_cast<int>(Channel::mu) && ncentralJet == 7"
      mu_8 : "channelId == static_cast<int>(Channel::mu) && ncentralJet >= 8"
      eE_2 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 2"
      eE_3 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 3"
      eE_4 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 4"
      eE_5 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 5"
      eE_6 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 6"
      eE_7 : "channelId == static_cast<int>(Channel::eE) && ncentralJet == 7"
      eE_8 : "channelId == static_cast<int>(Channel::eE) && ncentralJet >= 8"
      eMu_2 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 2"
      eMu_3 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 3"
      eMu_4 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 4"
      eMu_5 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 5"
      eMu_6 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 6"
      eMu_7 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet == 7"
      eMu_8 : "channelId == static_cast<int>(Channel::eMu) && ncentralJet >= 8"
      muMu_2 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 2"
      muMu_3 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 3"
      muMu_4 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 4"
      muMu_5 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 5"
      muMu_6 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 6"
      muMu_7 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet == 7"
      muMu_8 : "channelId == static_cast<int>(Channel::muMu) && ncentralJet >= 8"
    n_cpus: 4
    max_runtime: 8.0
    cmssw_env: False
    awkward_based: True
    uproot_stepsize: '50MB'
    dependencies:

region: All
region_default: SR
custom_regions: QCDRegions
custom_categories: ""
custom_subcategories: [ ]

# Option to scale signal by some factor in HistPlotTask.py
signal_plot_scale: 50

# This is for Analysis Selection
channelSelection:
  - e
  - mu
  - eE
  - eMu
  - muMu

# This is for Histogram Making
channels_to_consider:
  - e
  - mu
  - eE
  - eMu
  - muMu

channelDefinition:
  e: 1  # Second lepton doesn't exist
  mu: 2
  eE: 11
  eMu: 12
  muMu: 22

categories:
  - inclusive
  - recovery
  - res2b
  - boosted
  - baseline

QCDRegions:
  - OS_Iso
  - SS_Iso
  - OS_AntiIso
  - SS_AntiIso
  - ZVeto_OS_Iso
  - ZPeak_OS_Iso
  - mbbCR_Tight
  - mbbCR_AntiTight

boosted_categories: [ ]


triggers:
  e: [ singleEleWpTight ]
  mu: [ singleIsoMu ]
  eE: [ singleEleWpTight ]
  eMu: [ singleIsoMu ]
  muMu: [ singleIsoMu ]


application_regions:
  HLT_singleEleWpTight:
    region_name: SingleE_region
    region_cut: (true)
  HLT_singleIsoMu:
    region_name: SingleMu_region
    region_cut: (true)


var_only_boosted: [ ]

unc_to_not_consider_boosted: [ ]

uncs_to_exclude:
  Run3_2022: [ ]
  Run3_2022EE: [ ]
  Run3_2023: [ ]
  Run3_2023BPix: [ ]

storeExtraJets: False
scales:
  - Up
  - Down
deepTauVersion: 2p1
met_type: "PuppiMET"

# DNN Inputs
variables:
  - lep1_pt
  - lep1_eta
  - lep1_phi
  - lep1_mass

  - name: lep1_pt_vs_eta
    vars: [ lep1_pt, lep1_eta ]
    plot_task: False

  - lep2_pt
  - lep2_eta
  - lep2_phi
  - lep2_mass

  - PuppiMET_pt
  - PuppiMET_phi

  - bjet1_pt
  - bjet1_eta
  - bjet1_phi
  - bjet1_mass
  - bjet1_btagPNetB

  - bjet2_pt
  - bjet2_eta
  - bjet2_phi
  - bjet2_mass
  - bjet2_btagPNetB

  - fatbjet_pt
  - fatbjet_eta
  - fatbjet_phi
  - fatbjet_mass
  - fatbjet_XbbVsQCD

  - bb_mass_PNetRegPtRawCorr_PNetRegPtRawCorrNeutrino

  - HT
  - dR_dilep
  - dR_dibjet
  - dR_dilep_dibjet
  - dR_dilep_dijet
  - dPhi_lep1_lep2
  - dPhi_jet1_jet2
  - dPhi_MET_dilep
  - dPhi_MET_dibjet
  - MT
  - MT2_ll
  - MT2_bb
  - MT2_blbl
  - ll_mass
  - CosTheta_bb

  - lep1_Muon_pfRelIso04_all
  - lep2_Muon_pfRelIso04_all
  - lep1_Electron_pfRelIso03_all
  - lep2_Electron_pfRelIso03_all
  - mT_fix

  # High Level Single Lepton
  - SingleLep_DeepHME_mass
  - SingleLep_DeepHME_mass_error

  # High Level Double Lepton
  - DoubleLep_DeepHME_mass
  - DoubleLep_DeepHME_mass_error

  - name: DL_DNN_m300_vs_HME
    vars: [ DNNParametric_DL_NoHME_M300_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m400_vs_HME
    vars: [ DNNParametric_DL_NoHME_M400_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m500_vs_HME
    vars: [ DNNParametric_DL_NoHME_M500_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m550_vs_HME
    vars: [ DNNParametric_DL_NoHME_M550_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m600_vs_HME
    vars: [ DNNParametric_DL_NoHME_M600_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m650_vs_HME
    vars: [ DNNParametric_DL_NoHME_M650_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m700_vs_HME
    vars: [ DNNParametric_DL_NoHME_M700_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m800_vs_HME
    vars: [ DNNParametric_DL_NoHME_M800_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m900_vs_HME
    vars: [ DNNParametric_DL_NoHME_M900_Signal, DoubleLep_DeepHME_mass ]

  - name: DL_DNN_m1000_vs_HME
    vars: [ DNNParametric_DL_NoHME_M1000_Signal, DoubleLep_DeepHME_mass ]

  - name: SL_DNN_m300_vs_HME
    vars: [ DNNParametric_SL_NoHME_M300_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m400_vs_HME
    vars: [ DNNParametric_SL_NoHME_M400_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m500_vs_HME
    vars: [ DNNParametric_SL_NoHME_M500_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m550_vs_HME
    vars: [ DNNParametric_SL_NoHME_M550_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m600_vs_HME
    vars: [ DNNParametric_SL_NoHME_M600_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m650_vs_HME
    vars: [ DNNParametric_SL_NoHME_M650_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m700_vs_HME
    vars: [ DNNParametric_SL_NoHME_M700_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m800_vs_HME
    vars: [ DNNParametric_SL_NoHME_M800_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m900_vs_HME
    vars: [ DNNParametric_SL_NoHME_M900_Signal, SingleLep_DeepHME_mass ]

  - name: SL_DNN_m1000_vs_HME
    vars: [ DNNParametric_SL_NoHME_M1000_Signal, SingleLep_DeepHME_mass ]
