UseParametric: true
adv_activation: relu
adv_grad_factor: 1.0
adv_learning_rate: 0.0001
adv_submodule_steps: 250
adv_submodule_tracker: 0
adv_weight_decay: 0.004
apply_common_gradients: true
batch_compression_factor: 10
class_activation: tanh
class_grad_factor: 0.0
common_activation: tanh
continue_model: DNN_Models/v32p9/ResHH_Classifier_parity0.keras
continue_training: true
dropout: 0.0
features:
- lep1_pt
- lep1_phi
- lep1_eta
- lep1_mass
- lep2_pt
- lep2_phi
- lep2_eta
- lep2_mass
- met_pt
- met_phi
highlevelfeatures:
- HT
- dR_dilep
- dR_dibjet
- dR_dilep_dibjet
- dR_dilep_dijet
- dPhi_lep1_lep2
- dPhi_jet1_jet2
- dPhi_MET_dilep
- dPhi_MET_dibjet
- min_dR_lep0_jets
- min_dR_lep1_jets
- MT
- MT2_ll
- MT2_bb
- MT2_blbl
- ll_mass
- CosTheta_bb
learning_rate: 1.0e-05
listfeatures:
- - - centralJet_pt
    - centralJet_phi
    - centralJet_eta
    - centralJet_mass
  - 0
- - - centralJet_pt
    - centralJet_phi
    - centralJet_eta
    - centralJet_mass
  - 1
- - - centralJet_pt
    - centralJet_phi
    - centralJet_eta
    - centralJet_mass
  - 2
- - - centralJet_pt
    - centralJet_phi
    - centralJet_eta
    - centralJet_mass
  - 3
n_adv_layers: 5
n_adv_units: 128
n_class_layers: 5
n_class_units: 128
n_common_layers: 10
n_common_units: 256
n_epochs: 5
parametric_list:
- 250
- 260
- 270
- 280
- 300
- 350
- 450
- 550
- 600
- 650
- 700
- 800
- 1000
- 1200
- 1400
- 1600
- 1800
- 2000
- 2500
- 3000
- 4000
- 5000
patience: 100
use_batch_norm: false
weight_decay: 0.004
